---
import BaseLayout from '../layouts/baseLayout.astro';
// import Featured from '../components/Featured.astro';

// TODO: add featured articles and projects
---

<BaseLayout pageTitle="Home">
  <div class="flex flex-col my-8 items-center px-4 sm:px-8">
    <div class="flex flex-col gap-4">
      <div>
        <h1 class="font-bold font-mono">11 0000 1000</h1>
        <p class="text-xl">
          software engineer interested in artificial intelligence and machine
          learning.
        </p>
      </div>
      <div class="flex gap-4">
        <a
          href="http://www.github.com/justisabelll"
          class="hover:text-zinc-400 underline underline-offset-2">github</a
        >
        <a
          href="http://www.x.com/justisabelll"
          class="hover:text-zinc-400 underline underline-offset-2">x.com</a
        >
      </div>
    </div>
  </div>
</BaseLayout>
