---
import { getCollection } from 'astro:content';
import EssayCard from './EssayCard.astro';

const featuredEssays = await getCollection(
  'essays',
  ({ data }) => data.featured === true
);
---

<div class="w-full max-w-2xl py-8">
  {
    featuredEssays.length > 0 && (
      <div class="">
        <h2 class="text-2xl font-thin mb-2">Favorite Writings</h2>
        <ul class="space-y-4">
          {featuredEssays.map((essay) => (
            <EssayCard
              title={essay.data.title}
              description={essay.data.description}
              url={`/writings/${essay.slug}`}
              featured={true}
            />
          ))}
        </ul>
      </div>
    )
  }
</div>
