---
const { pageTitle } = Astro.props;

// TODO: add enable and add links for writings and projects
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-zinc-900 text-white">
    <nav class="m-8">
      <ul
        class="flex justify-between font-mono text-sm tracking-wider uppercase"
      >
        <li>
          <a href="/" class="hover:opacity-60 transition-opacity">/home</a>
        </li>
        <div class="flex gap-8">
          <li>
            <a
              class="opacity-60 hover:opacity-100 transition-opacity"
              href="/writings">/writings</a
            >
          </li>
          <li>
            <!-- <a
              class="opacity-60 hover:opacity-100 transition-opacity"
              href="/projects">/projects</a
            > -->
          </li>
        </div>
      </ul>
    </nav>
    <main class="mx-auto px-8">
      <slot />
    </main>
  </body>
</html>
